
.snackbar, .snackbar-top {
  display: none;
  padding: 15px 20px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1051;
  background: #191E23;
  color: #fff;
  opacity: 0.8;
}

.snackbar a, .snackbar-top a {
  color: #fff;
}

.snackbar {
  position: fixed;
  bottom: 20px;
  width: 500px;
}

.snackbar:hover {
  opacity: 1;
}

.snackbar-top {
  position: fixed;
  top: 20px;
  width: 300px;
  right: 20px;
}

@media (max-width: 768px) {
  .snackbar {
    width: 90%;
  }
}

.snackbar-primary {
  background: #0096d6;
  color: #fff;
}

.snackbar-success {
  background: #4caf50;
  color: #fff;
}

.snackbar-warning {
  background: #ff9800;
  color: #fff;
}

.snackbar-danger {
  background: #e53935;
  color: #fff;
}

.snackbar-info {
  background: #1976d2;
  color: #fff;
}

.snackbar-light {
  background: #dddddd;
  color: #fff;
}

.snackbar-dark {
  background: #111111;
  color: #fff;
}

.simulasi-page{
  margin:20px 50px!important;
  background:#fff;
  
}
.detail-pinjam-header{
  padding:30px 20px;
}

.detail-1{
  display:inline-flex;
}
.tabel-simulasi{
    padding:8px;
    border:2px solid #000
}

.tabel-simulasi th td{
  border:2px solid #000;
  padding:5px 5px 5px 35px;
  text-align: right;
}

.detail-2{
  padding: 20px 30px;
}

.tabel-simulasi-2{
 width:500px;
 text-align:center
}
.text-danger{
  color:red!important
}

.tgl-text{
  color:#9c9696
}

.ket_opsi{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.show_rupiah{
  font-size: 14px;
  margin:7px 0;
}

.bingkai{
  border:1px solid #c1c2c3;
  padding:20px 10px;
  border-radius:4px;
  position: relative;
  margin-bottom: 25px;
}
.judul-bingkai{
  position: absolute;
  top: -15px;
  left:2px;
  background: #fff;
  padding: 0 7px;
  font-size: 18px;
  text-transform: uppercase;
}

.balok{
  padding: 15px;
  border: 2px solid #c1c2c3;
  background:#fff;
  border-radius: 4px;
  margin:20px 0;
}

.review-img{
  width: 300px;
  height: 300px;
}
.review-img img{
  max-width: 100%;
}